body {
    background-image: url("http://3.bp.blogspot.com/-y_mpQ9LQNL4/UegdhPg8ESI/AAAAAAAAIXw/Y7ub4gmkxnQ/s1600/Descargar%25252BPack%25252BEspectaculares%25252Bfondo%25252Bde%25252Bpaisajes%25252B(409).jpg");
    overflow-y: scroll;
}

main{
    height: 105vh;
}

.grafico {
    width: 294px;
    height: 310px;
    margin: 0 auto;
}

.group-button3 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}

.boton3 {
    display: inline-block;
    border-radius: 24px;
    width: 200px;
    padding: 20px 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    cursor: pointer;
}

.cuerpo{
    display: none;
}

.caja-princ {
    display:flex;
    height: 50px;
    width: 300px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.caja-secreto {
    color:beige;
    font-size: 40px;
    width: 300px;
    text-align: center;
}

.caja-sec {
    display:flex;
    height: 50px;
    width: 200px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.caja-error {
    color:beige;
    font-size: 30px;
    letter-spacing: 10px;
    padding-left: 10px;
}

footer{
    position:static !important;
}

.text, .aclaracion{
    color:beige;
}

.aclaracion{
    text-align: center;
}
@media screen and (max-width: 450px) {

    .group-button3 {
        flex-direction: column;
    }
}