body {
    background-image: url("http://3.bp.blogspot.com/-y_mpQ9LQNL4/UegdhPg8ESI/AAAAAAAAIXw/Y7ub4gmkxnQ/s1600/Descargar%25252BPack%25252BEspectaculares%25252Bfondo%25252Bde%25252Bpaisajes%25252B(409).jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

main{
    height: 580px;
}

.alura {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 30px;
}
.group-button >p {
    font-size:12px;
    color:beige;
}
.group-button {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 10%;
}

.boton {
    display: block;
    border-radius: 24px;
    width: 200px;
    padding: 20px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.link-word {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    
    padding: 10px 0px;
    justify-content: center;
    position: absolute;
    bottom:0px;
    width: 100%;
}

.text{
    color:beige;
}